:root {
  --primary-color: #4069db;
  --secondary-color: #fbf8f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  font-size: 1rem;
  display: flex;
  padding: 4rem 4rem 0 4rem;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background-color: var(--secondary-color);
}

.menu-hamburger {
  width: 2rem;
  height: 2rem;
}

.hero-image {
  width: 87%;
  display: block;
  margin: 0 auto;
}

.main {
  background-color: var(--secondary-color);
}

.big-text {
  font-weight: 900;
  font-size: 3rem;
  padding: 1.5rem 4rem 0rem 4rem;
}

.small-text {
  font-size: 1.6rem;
  font-weight: 300;
  padding-left: 4rem;
  padding-top: 1rem;
  color: grey;
}

.button-start {
  margin: 1rem 4rem;
  padding: 2rem;
  background-color: grey;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.button-start a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}
